Repository getproofy/proofy-python: changes, and which Codecov flags are due for each by the changed paths.
All: proofy-commons, pytest-proofy

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 5%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

ignore:
  - "*/tests/*"
  - "*/test_*"
  - "*/__pycache__/*"
  - "*/conftest.py"
  - "setup.py"

flags:
  proofy-commons:
    paths:
      - proofy-commons/proofy/
  pytest-proofy:
    paths:
      - pytest-proofy/pytest_proofy/

Complete mypy integration
  .pre-commit-config.yaml
  codecov.yml
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/hooks/manager.py
  proofy-commons/proofy/runtime/decorators.py
  proofy-commons/pyproject.toml
  pyproject.toml
  pytest-proofy/pyproject.toml
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Refactor code formatting and improve readability in pytest-proofy plugin
  pyproject.toml
Due: none

Remove deprecated ignore rule for generic function type parameters in pyproject.toml
  pyproject.toml
Due: none

Refactor pre-commit configuration and enhance environment setup documentation
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .github/workflows/dependencies.yml
  .github/workflows/release.yml
  .pre-commit-config.yaml
  ENV_SETUP.md
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/runtime/api.py
  proofy.config.template
  pyproject.toml
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/pytest_proofy/xdist_support.py
  pytest-proofy/tests/test_xdist_e2e.py
  pytest-proofy/tests/test_xdist_functional.py
  pytest-proofy/tests/test_xdist_integration.py
Due: proofy-commons, pytest-proofy

Update project configuration and enhance type hints
  .gitignore
  .pre-commit-config.yaml
  .python-version
  proofy-commons/proofy/config/__init__.py
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/export/__init__.py
  proofy-commons/proofy/hooks/manager.py
  proofy-commons/proofy/runtime/context.py
  proofy-commons/proofy/runtime/decorators.py
  pyproject.toml
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/pytest_proofy/xdist_support.py
  pytest-proofy/tests/test_xdist_e2e.py
Due: proofy-commons, pytest-proofy

feat: migrate to new API specification with RFC 3339 datetime formatting
  proofy-commons/README.md
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/core/__init__.py
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/core/models.py
  proofy-commons/tests/test_models.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_plugin_basic.py
Due: proofy-commons, pytest-proofy

Refactor TestResult model and update API integration
  .gitignore
  .python-version
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/export/attachments.py
  proofy-commons/proofy/runtime/context.py
  proofy-commons/pyproject.toml
  proofy-commons/tests/test_attachments.py
  pyproject.toml
  pytest-proofy/pyproject.toml
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_attachments_integration.py
  pytest-proofy/tests/test_xdist_e2e.py
Due: proofy-commons, pytest-proofy

Refactor file path handling and enhance type casting in decorators
  proofy-commons/proofy/runtime/context.py
  proofy-commons/proofy/runtime/decorators.py
Due: proofy-commons

Refactor path handling and improve test readability
  proofy-commons/proofy/runtime/decorators.py
  proofy-commons/tests/test_attachments.py
  proofy-commons/tests/test_runtime.py
Due: proofy-commons

Enhance pre-commit configuration and update type handling
  .github/workflows/benchmark.yml
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  proofy-commons/proofy/runtime/context.py
  proofy-commons/proofy/runtime/decorators.py
  pyproject.toml
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_attachments_integration.py
  pytest-proofy/tests/test_plugin_basic.py
Due: proofy-commons, pytest-proofy

Update CI workflow and improve test readability
  .github/workflows/ci.yml
  proofy-commons/tests/test_attachments.py
  proofy-commons/tests/test_runtime.py
Due: none

Refactor test assertions for consistent path handling
  proofy-commons/tests/test_attachments.py
  proofy-commons/tests/test_runtime.py
Due: none

Refactor test function for improved readability and path handling
  pytest-proofy/tests/test_attachments_integration.py
Due: none

Refactor test assertions for improved readability
  pytest-proofy/tests/test_xdist_e2e.py
Due: none

Update CI workflow to use workflow_dispatch trigger
  .github/workflows/ci.yml
Due: none

Add artifact zipping functionality and integrate with backup process
  proofy-commons/proofy/export/attachments.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Refactor proofy-commons structure and update package naming
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_impl/context/__init__.py
  proofy-commons/proofy/_impl/context/backend.py
  proofy-commons/proofy/_impl/context/models.py
  proofy-commons/proofy/_impl/context/service.py
  proofy-commons/proofy/_impl/io/__init__.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/api.py
  proofy-commons/proofy/core/__init__.py
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/core/models.py
  proofy-commons/proofy/decorators.py
  proofy-commons/proofy/runtime/__init__.py
  proofy-commons/proofy/runtime/api.py
  proofy-commons/proofy/runtime/context.py
  proofy-commons/proofy/runtime/decorators.py
  proofy-commons/proofy/utils.py
  proofy-commons/pyproject.toml
  proofy-commons/tests/test_attachments.py
  proofy-commons/tests/test_context_service.py
  proofy-commons/tests/test_runtime.py
  pytest-proofy/pyproject.toml
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/pytest_proofy/xdist_support.py
  pytest-proofy/tests/test_attachments_integration.py
  pytest-proofy/tests/test_plugin_basic.py
  pytest-proofy/tests/test_xdist_e2e.py
  pytest-proofy/tests/test_xdist_functional.py
  pytest-proofy/tests/test_xdist_integration.py
Due: proofy-commons, pytest-proofy

Refactor proofy configuration and API structure
  README.md
  proofy-commons/README.md
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_impl/config.py
  proofy-commons/proofy/_impl/context/__init__.py
  proofy-commons/proofy/_impl/context/service.py
  proofy-commons/proofy/_impl/export/__init__.py
  proofy-commons/proofy/_impl/export/attachments.py
  proofy-commons/proofy/_impl/hooks/__init__.py
  proofy-commons/proofy/_impl/hooks/manager.py
  proofy-commons/proofy/_impl/hooks/specs.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/api.py
  proofy-commons/proofy/config/__init__.py
  proofy-commons/proofy/core/__init__.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/core/config.py
  proofy-commons/proofy/core/decorators.py
  proofy-commons/proofy/core/models.py
  proofy-commons/proofy/core/utils.py
  proofy-commons/proofy/decorators.py
  proofy-commons/proofy/utils.py
  proofy-commons/tests/test_attachments.py
  proofy-commons/tests/test_context_service.py
  proofy-commons/tests/test_hooks.py
  proofy-commons/tests/test_models.py
  proofy-commons/tests/test_runtime.py
  proofy.config.template
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/pytest_proofy/xdist_support.py
  pytest-proofy/tests/conftest.py
  pytest-proofy/tests/test_attachments_integration.py
  pytest-proofy/tests/test_config.py
  pytest-proofy/tests/test_plugin_basic.py
  pytest-proofy/tests/test_xdist_e2e.py
  pytest-proofy/tests/test_xdist_functional.py
  pytest-proofy/tests/test_xdist_integration.py
Due: proofy-commons, pytest-proofy

Enhance ContextService and ResultsHandler for improved file handling
  proofy-commons/proofy/_impl/context/service.py
  proofy-commons/proofy/_impl/io/results_handler.py
Due: proofy-commons

Update environment setup and refactor package structure
  ENV_SETUP.md
  README.md
  proofy-commons/README.md
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_impl/context/service.py
  proofy-commons/proofy/_impl/export/attachments.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/config.py
  proofy-commons/proofy/core/models.py
  proofy-commons/pyproject.toml
  proofy-commons/tests/test_api.py
  proofy-commons/tests/test_client.py
  proofy-commons/tests/test_context_service.py
  proofy.config.template
  pyproject.toml
  pytest-proofy/README.md
  pytest-proofy/pyproject.toml
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Refactor pre-commit configuration and clean up codebase
  .pre-commit-config.yaml
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_impl/config.py
  proofy-commons/proofy/_impl/context/service.py
  proofy-commons/proofy/_impl/export/attachments.py
  proofy-commons/proofy/_impl/hooks/specs.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/core/decorators.py
  proofy-commons/proofy/core/models.py
  proofy-commons/tests/test_api.py
  proofy-commons/tests/test_client.py
  proofy-commons/tests/test_context_service.py
  pyproject.toml
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Update attributes decorator type hint to use dict for improved type safety
  proofy-commons/proofy/core/decorators.py
Due: proofy-commons

Refactor code for improved readability and error handling
  proofy-commons/proofy/_impl/export/attachments.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/core/client.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_pluggy_hooks.py
Due: proofy-commons, pytest-proofy

Refactor code for improved readability and consistency
  .github/workflows/release.yml
  README.md
  proofy-commons/README.md
  proofy-commons/proofy/_impl/io/artifact_uploader.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/core/client.py
  pyproject.toml
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Refactor code for improved readability and consistency
  proofy-commons/proofy/_impl/io/artifact_uploader.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/core/decorators.py
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Remove type checking step from release workflow in GitHub Actions
  .github/workflows/release.yml
Due: none

Add MIT License to the project
  LICENSE
Due: none

Add build and twine as dependencies in pyproject.toml
  proofy-commons/pyproject.toml
Due: none

Update GitHub Actions workflow to run tests in proofy-commons and pytest-proofy directories and comment out the publish-to-pypi step for future reference.
  .github/workflows/release.yml
Due: none

Refactor GitHub Actions workflow and improve code readability
  .github/workflows/release.yml
  proofy-commons/proofy/_impl/io/artifact_uploader.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Update GitHub Actions workflow to publish all versions to Test PyPI
  .github/workflows/release.yml
Due: none

Enhance GitHub Actions workflow to publish packages to PyPI
  .github/workflows/release.yml
  pytest-proofy/tests/test_pluggy_hooks.py
Due: none

Update project license to Apache 2.0 and modify dependencies in pyproject.toml
  LICENSE
  proofy-commons/README.md
  proofy-commons/pyproject.toml
  pytest-proofy/README.md
  pytest-proofy/pyproject.toml
Due: none

Update dependencies in pyproject.toml and improve error handling in ResultsHandler
  proofy-commons/pyproject.toml
  pytest-proofy/pyproject.toml
Due: none

Rename package from "proofy" to "proofy-python" in pyproject.toml files for both proofy-commons and pytest-proofy to reflect updated naming convention. Update dependencies accordingly.
  proofy-commons/pyproject.toml
  pytest-proofy/pyproject.toml
Due: none

Add background processing capabilities to ResultsHandler and configuration options
  ASYNC_IMPLEMENTATION_PLAN.md
  ASYNC_USAGE_EXAMPLES.md
  proofy-commons/proofy/_impl/config.py
  proofy-commons/proofy/_impl/io/background_workers.py
  proofy-commons/proofy/_impl/io/concurrent_processor.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/tests/test_background_workers.py
  proofy-commons/tests/test_concurrent_processor.py
  proofy-commons/tests/test_enhanced_results_handler.py
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Refactor ProofyClient for improved readability and error handling
  proofy-commons/proofy/core/client.py
Due: proofy-commons

Refactor error handling and improve readability in artifact uploader and results handler
  proofy-commons/proofy/_impl/io/artifact_uploader.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/core/client.py
Due: proofy-commons

Add ArtifactType to core components and update attachment handling
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_impl/context/service.py
  proofy-commons/proofy/_impl/io/artifact_uploader.py
  proofy-commons/proofy/core/__init__.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/models.py
Due: proofy-commons
