Repository getproofy/proofy-python: changes, and which Codecov flags are due for each by the changed paths.
All: proofy-commons, pytest-proofy

codecov.yml:

coverage:
  precision: 2
  round: down
  range: "70...100"

  status:
    project:
      default:
        target: 80%
        threshold: 5%
        base: auto
    patch:
      default:
        target: 80%
        threshold: 5%

comment:
  layout: "reach, diff, flags, files"
  behavior: default
  require_changes: false
  require_base: no
  require_head: yes

github_checks:
  annotations: true

ignore:
  - "*/tests/*"
  - "*/test_*"
  - "*/__pycache__/*"
  - "*/conftest.py"
  - "setup.py"

flags:
  proofy-commons:
    paths:
      - proofy-commons/proofy/
  pytest-proofy:
    paths:
      - pytest-proofy/pytest_proofy/

Refactor decorators and test result model for improved attribute handling
  proofy-commons/proofy/core/decorators.py
  proofy-commons/proofy/core/models.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Add run attributes functionality and enhance documentation
  README.md
  examples/conftest_run_attributes.py
  proofy-commons/README.md
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_impl/config.py
  proofy-commons/proofy/_impl/context/models.py
  proofy-commons/proofy/_impl/context/service.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/system_info.py
  proofy-commons/tests/test_api.py
  proofy-commons/tests/test_run_attributes.py
  pytest-proofy/README.md
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Fix pre-commit errors
  proofy-commons/proofy/_impl/io/artifact_uploader.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/_impl/uploader/__init__.py
  proofy-commons/proofy/_impl/uploader/queue.py
  proofy-commons/proofy/_impl/uploader/worker.py
  proofy-commons/proofy/core/__init__.py
  proofy-commons/proofy/core/client.py
  proofy-commons/proofy/core/client/__init__.py
  proofy-commons/proofy/core/client/async_client.py
  proofy-commons/proofy/core/client/base.py
  proofy-commons/proofy/core/client/sync_client.py
  proofy-commons/pyproject.toml
  proofy-commons/tests/test_client.py
  proofy-commons/tests/test_httpx_client.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Refactor async and sync client code for improved readability and type handling
  proofy-commons/proofy/core/client/async_client.py
  proofy-commons/proofy/core/client/base.py
  proofy-commons/proofy/core/client/sync_client.py
  proofy-commons/tests/test_client.py
Due: proofy-commons

Enhance upload functionality and configuration management
  proofy-commons/proofy/_impl/config.py
  proofy-commons/proofy/_impl/io/results_handler.py
  proofy-commons/proofy/_impl/uploader/worker.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Refactor internal structure and enhance context management
  .pre-commit-config.yaml
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_impl/export/__init__.py
  proofy-commons/proofy/_impl/io/__init__.py
  proofy-commons/proofy/_internal/__init__.py
  proofy-commons/proofy/_internal/artifacts/__init__.py
  proofy-commons/proofy/_internal/artifacts/attachments_cache.py
  proofy-commons/proofy/_internal/artifacts/uploader.py
  proofy-commons/proofy/_internal/config.py
  proofy-commons/proofy/_internal/context/__init__.py
  proofy-commons/proofy/_internal/context/backend.py
  proofy-commons/proofy/_internal/context/models.py
  proofy-commons/proofy/_internal/context/service.py
  proofy-commons/proofy/_internal/hooks/__init__.py
  proofy-commons/proofy/_internal/hooks/manager.py
  proofy-commons/proofy/_internal/hooks/specs.py
  proofy-commons/proofy/_internal/results/__init__.py
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/proofy/_internal/uploader/__init__.py
  proofy-commons/proofy/_internal/uploader/queue.py
  proofy-commons/proofy/_internal/uploader/worker.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/decorators.py
  proofy-commons/proofy/py.typed
  proofy-commons/tests/test_api.py
  proofy-commons/tests/test_context_service.py
  proofy-commons/tests/test_hooks.py
  proofy-commons/tests/test_run_attributes.py
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_pluggy_hooks.py
Due: proofy-commons, pytest-proofy

Update README and enhance logging functionality
  README.md
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/proofy/_internal/uploader/worker.py
  proofy-commons/proofy/core/__init__.py
  proofy-commons/proofy/core/client/async_client.py
  proofy-commons/proofy/core/client/sync_client.py
  proofy-commons/proofy/core/logging_scopes.py
  pytest-proofy/README.md
  pytest-proofy/examples/conftest_run_attributes.py
Due: proofy-commons

Update configuration and results handling for improved functionality
  proofy-commons/proofy/_internal/config.py
  proofy-commons/proofy/_internal/results/result_handler.py
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Refactor ResultsHandler and ProofyPytestPlugin for improved error handling and logging
  proofy-commons/proofy/_internal/results/result_handler.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

Enhance ProofyPytestPlugin with improved marker handling and skip message capture
  pytest-proofy/pytest_proofy/plugin.py
Due: pytest-proofy

Refactor logging and enhance ResultsHandler functionality
  proofy-commons/proofy/_internal/artifacts/uploader.py
  proofy-commons/proofy/_internal/results/result_handler.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_pytester_plugin.py
Due: proofy-commons, pytest-proofy

Update ResultsHandler and configuration for improved error handling and functionality
  proofy-commons/proofy/_internal/results/result_handler.py
  pytest-proofy/pytest_proofy/config.py
Due: proofy-commons, pytest-proofy

Update default mode in configuration and documentation
  README.md
  proofy-commons/proofy/_internal/config.py
  pytest-proofy/README.md
Due: proofy-commons

Refactor ResultsHandler for improved logging and readability
  proofy-commons/proofy/_internal/results/result_handler.py
Due: proofy-commons

Refactor configuration options in pytest-proofy for improved clarity
  pytest-proofy/pytest_proofy/config.py
Due: pytest-proofy

Refactor configuration option retrieval in pytest-proofy for enhanced defaults
  pytest-proofy/pytest_proofy/config.py
Due: pytest-proofy

Add add_data function to handle various data types in proofy-commons
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/logging_scopes.py
Due: proofy-commons

Update __init__.py to include add_data in public API
  proofy-commons/proofy/__init__.py
Due: proofy-commons

Update README files to reflect changes in prerequisites and new function addition
  README.md
  proofy-commons/README.md
  pytest-proofy/README.md
Due: none

Update license information in pyproject.toml and README files
  proofy-commons/README.md
  pyproject.toml
Due: none

chore(commons): bump version to 0.1.1
  proofy-commons/proofy/__init__.py
  proofy-commons/pyproject.toml
Due: proofy-commons

chore(pytest-proofy): bump version to 0.1.1 and require proofy-python>=0.1.1
  pytest-proofy/pyproject.toml
  pytest-proofy/pytest_proofy/__init__.py
Due: pytest-proofy

Revert "chore(pytest-proofy): bump version to 0.1.1 and require proofy-python>=0.1.1"
  pytest-proofy/pyproject.toml
  pytest-proofy/pytest_proofy/__init__.py
Due: pytest-proofy

Revert "chore(commons): bump version to 0.1.1"
  proofy-commons/proofy/__init__.py
  proofy-commons/pyproject.toml
Due: proofy-commons

chore: update configuration and add .cursorignore
  .cursorignore
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  proofy-commons/README.md
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/proofy/core/models.py
  proofy-commons/proofy/core/system_info.py
  pyproject.toml
  pytest-proofy/pytest_proofy/__init__.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_pluggy_hooks.py
Due: proofy-commons, pytest-proofy

chore: remove integration test job from CI workflow
  .github/workflows/ci.yml
Due: none

chore: update release workflow for proofy-python
  .github/workflows/release.yml
Due: none

chore: enhance release workflow and documentation for Proofy
  .github/release.yml
  .github/workflows/release.yml
  proofy-commons/README.md
  proofy-commons/proofy/_internal/config.py
  proofy-commons/proofy/_internal/results/result_handler.py
  pytest-proofy/README.md
  pytest-proofy/pytest_proofy/config.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_pytester_plugin.py
Due: proofy-commons, pytest-proofy

chore: update README.md for Proofy configuration parameters
  README.md
  pytest-proofy/tests/test_config_resolution.py
Due: none

chore: update README.md to standardize run attribute names
  pytest-proofy/README.md
Due: none

refactor: update ResultsHandler and ProofyPytestPlugin to use disable_output parameter
  proofy-commons/proofy/_internal/results/result_handler.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/conftest.py
Due: proofy-commons, pytest-proofy

Move pytest-specific limit helpers
  proofy-commons/proofy/_internal/results/limits.py
  proofy-commons/proofy/_internal/results/result_handler.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/pytest_proofy/utils.py
Due: proofy-commons, pytest-proofy

feat: implement payload limits and clamping utilities in proofy-commons
  proofy-commons/README.md
  proofy-commons/proofy/_internal/results/limits.py
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/proofy/core/models.py
  pytest-proofy/README.md
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

feat: add performance test marker and refactor metadata merging
  proofy-commons/proofy/_internal/results/limits.py
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/proofy/_internal/results/utils.py
  proofy-commons/proofy/core/models.py
  proofy-commons/tests/test_limits.py
  pyproject.toml
Due: proofy-commons

chore: clean up CI workflow configuration
  .github/workflows/ci.yml
Due: none

feat: enhance clamp_string function to support suffixes and update metadata merging
  proofy-commons/proofy/_internal/results/limits.py
  proofy-commons/proofy/_internal/results/utils.py
  proofy-commons/tests/test_limits.py
Due: proofy-commons

chore: update pyproject.toml and README files for clarity
  proofy-commons/README.md
  pyproject.toml
  pytest-proofy/README.md
Due: none

chore: remove Test PyPI publishing steps from CI workflow
  .github/workflows/release.yml
Due: none

chore: update dependencies workflow for improved security checks
  .github/workflows/dependencies.yml
Due: none

Bump version to 0.1.1 for pytest-proofy and proofy-python
  proofy-commons/proofy/__init__.py
  proofy-commons/pyproject.toml
  pytest-proofy/pyproject.toml
  pytest-proofy/pytest_proofy/__init__.py
Due: proofy-commons, pytest-proofy
