Repository getproofy/proofy-python: changes, and which Codecov flags are due for each by the changed paths.
All: proofy-commons, pytest-proofy

chore: update pip-audit commands in dependencies workflow
  .github/workflows/dependencies.yml
Due: none

refactor: reorganize logging and context management in proofy-commons
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_internal/__init__.py
  proofy-commons/proofy/_internal/artifacts/uploader.py
  proofy-commons/proofy/_internal/context/service.py
  proofy-commons/proofy/_internal/logger/__init__.py
  proofy-commons/proofy/_internal/logger/httpx_logging.py
  proofy-commons/proofy/_internal/logger/logging.py
  proofy-commons/proofy/_internal/uploader/queue.py
  proofy-commons/proofy/core/__init__.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/client/__init__.py
  proofy-commons/proofy/core/client/async_client.py
  proofy-commons/proofy/core/client/base.py
  proofy-commons/proofy/core/client/sync_client.py
  proofy-commons/proofy/core/models.py
  proofy-commons/tests/test_client.py
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

feat: introduce scoped logging for httpx/httpcore
  proofy-commons/proofy/_internal/logging_scopes.py
  proofy-commons/proofy/core/__init__.py
  proofy-commons/proofy/core/client/async_client.py
  proofy-commons/proofy/core/client/sync_client.py
  proofy-commons/proofy/core/logging_scopes.py
  proofy-commons/tests/test_logging_scopes.py
Due: proofy-commons

refactor: replace string literals with PredefinedAttribute constants
  proofy-commons/proofy/_internal/constants.py
  proofy-commons/proofy/_internal/context/service.py
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/proofy/_internal/results/utils.py
  proofy-commons/proofy/core/decorators.py
  proofy-commons/proofy/core/system_info.py
  proofy-playwright/Implementation.md
  pytest-proofy/pytest_proofy/plugin.py
Due: proofy-commons, pytest-proofy

feat: introduce Severity model and update severity handling
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_internal/constants.py
  proofy-commons/proofy/_internal/context/service.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/decorators.py
  proofy-commons/proofy/core/models.py
  proofy-commons/tests/test_api.py
Due: proofy-commons

refactor: remove tag handling from proofy-commons and pytest-proofy
  proofy-commons/README.md
  proofy-commons/proofy/__init__.py
  proofy-commons/proofy/_internal/constants.py
  proofy-commons/proofy/_internal/context/service.py
  proofy-commons/proofy/_internal/results/utils.py
  proofy-commons/proofy/core/api.py
  proofy-commons/proofy/core/decorators.py
  proofy-commons/proofy/core/models.py
  proofy-commons/tests/test_api.py
  proofy-commons/tests/test_context_service.py
  pytest-proofy/README.md
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_pytester_plugin.py
Due: proofy-commons, pytest-proofy

fix: update proofy_attributes marker to use __proofy_display_name
  pytest-proofy/tests/test_pytester_plugin.py
Due: none

feat: add test_identifier functionality and validation
  proofy-commons/proofy/_internal/results/limits.py
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/proofy/_internal/uploader/queue.py
  proofy-commons/proofy/_internal/uploader/worker.py
  proofy-commons/proofy/core/client/async_client.py
  proofy-commons/proofy/core/client/sync_client.py
  proofy-commons/proofy/core/models.py
  proofy-commons/proofy/core/utils.py
  proofy-commons/tests/test_api.py
  proofy-commons/tests/test_client.py
  proofy-commons/tests/test_context_service.py
  proofy-commons/tests/test_httpx_client.py
  proofy-commons/tests/test_limits.py
  proofy-commons/tests/test_utils.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/test_pluggy_hooks.py
Due: proofy-commons, pytest-proofy

feat: enhance HTTP request logging in async and sync clients
  proofy-commons/proofy/core/client/async_client.py
  proofy-commons/proofy/core/client/sync_client.py
Due: proofy-commons

chore: add pull request trigger to CI workflow
  .github/workflows/ci.yml
Due: none

refactor: use PredefinedAttribute constants in test assertions
  proofy-commons/tests/test_api.py
Due: none

chore: configure Dependabot for automated dependency updates
  .github/dependabot.yml
  .github/workflows/dependencies.yml
Due: none

chore: remove Dependabot configuration file
  .github/dependabot.yml
Due: none

feat: implement AttachmentService and refactor context handling
  proofy-commons/proofy/_internal/artifacts/__init__.py
  proofy-commons/proofy/_internal/artifacts/models.py
  proofy-commons/proofy/_internal/artifacts/service.py
  proofy-commons/proofy/_internal/config.py
  proofy-commons/proofy/_internal/context/service.py
  proofy-commons/proofy/_internal/results/__init__.py
  proofy-commons/proofy/_internal/results/publishers.py
  proofy-commons/proofy/_internal/results/result_buffer.py
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/proofy/_internal/results/run_manager.py
  proofy-commons/proofy/core/client/async_client.py
  proofy-commons/proofy/core/client/base.py
  proofy-commons/proofy/core/client/sync_client.py
  proofy-commons/tests/test_attachment_service.py
  proofy-commons/tests/test_config_propagation.py
  proofy-commons/tests/test_context_service.py
  proofy-commons/tests/test_result_handler.py
  proofy-commons/tests/test_results_components.py
  pytest-proofy/pytest_proofy/plugin.py
  pytest-proofy/tests/conftest.py
  pytest-proofy/tests/test_config_resolution.py
  pytest-proofy/tests/test_pytester_plugin.py
Due: proofy-commons, pytest-proofy

refactor: replace AttachmentService with standalone attachment preparation functions
  proofy-commons/proofy/_internal/artifacts/__init__.py
  proofy-commons/proofy/_internal/artifacts/service.py
  proofy-commons/proofy/_internal/artifacts/uploader.py
  proofy-commons/proofy/_internal/context/service.py
  proofy-commons/proofy/_internal/results/publishers.py
  proofy-commons/proofy/_internal/results/result_handler.py
  proofy-commons/tests/test_attachment_service.py
  proofy-commons/tests/test_result_handler.py
Due: proofy-commons

chore: bump version to 0.1.2 for proofy-python and pytest-proofy
  proofy-commons/pyproject.toml
  pytest-proofy/pyproject.toml
Due: none

fix: simplify run name assignment per ruff SIM108
  proofy-commons/proofy/_internal/results/result_handler.py
Due: proofy-commons

chore: add project URLs to pyproject.toml for proofy-commons and pytest-proofy
  proofy-commons/pyproject.toml
  pytest-proofy/pyproject.toml
Due: none

Path conditions:
  proofy-commons: any of: proofy-commons/proofy/, but not: */tests/*, */test_*, */__pycache__/*, */conftest.py, setup.py
  pytest-proofy: any of: pytest-proofy/pytest_proofy/, but not: */tests/*, */test_*, */__pycache__/*, */conftest.py, setup.py
